html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
    height: 100%;
}
button {
    font-family : Arial, Helvetica, sans-serif;
}

input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
    color: black;
}
a:visited {
    color:black ;
  }
a:hover {
    color: gray;
    text-decoration: underline;
}

li {
    list-style-type: none;
    padding: 1em 1em 1em 1em;

}
#container {
    min-height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100% 1fr 3.5em 3.5em;
    grid-template-areas: 
      ". . header"
      "main main main"
      "top-footer top-footer top-footer"
      "left-footer left-footer right-footer";
}
#header {
grid-area: header;
justify-self: end;
align-self: start;
 }
#header-list {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-items: center;
}   

#sign-link {
    display: inline-block;
    background-color:#4285f4;
    color: white;
    padding: 0 12px;
    border-radius: 2px;
    font-weight: bold;
    border: 1px solid #4285f4;
    line-height: 28px;
}
.main {
   grid-area: main;
   justify-self: center;
   align-self: start;
   padding-top:100px ;
   display: flex;
   flex-direction: column;
}

.top-footer {
    grid-area: top-footer;
}
.top-footer, .right-footer, .left-footer {
    background-color:  #F2F2F2;
    border-style: solid none; 
    border-width: 1px;
    border-color: #E4E4E4;
}
.top-footer p, .left-footer a, .right-footer a{
    color: rgb(121, 121, 121);
}
.top-footer p {
    font-size: 15px;
 margin: 1em;
}
.right-footer {
    grid-area: right-footer;
}
.left-footer {
    grid-area: left-footer;
}

#left-list {
    display: flex;
    flex-direction: row;
}
#right-list {
        display: flex;
        flex-direction: row;
        justify-content: end;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    display: flex;
    border: solid;
    border-color:#dfe1e5;
    border-radius: 40px;
    border-width: 1px;
    width: 584px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
 height: 44px;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
#text-box {
border: none;
margin: auto;
display: block;
width: 527px;
height: 34px;
}
#search-icon {
   
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 13px;
    display: block;
    height: 20px;
    width: 20px;
    color: #9AA0A6;
}
.search-button:hover{
    border: 1px solid #c6c6c6;
    color:#222;    
}
.search-button {
    background-color: #f2f2f2;
    margin-top: 2em;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 30px 4px;
    padding: 0.6em 16px;
}

.input-buttons {
    display: flex;
    justify-content: center;
}

.language-paragraph {
    font-size: small;
    text-align: center;
}

#language-link {
    color: #1a0dab;
}